.navbar{
    border-right: 1px solid black ;
    border-bottom: 1px solid black;
    margin:0px;
    flex-wrap:wrap;
    flex-grow:1;
    text-align: center;
    color:black;
    font-size: 25px;
    cursor: pointer;
    
}
.navbar:hover{
    background-color: lightblue;
}

.newcategory{

  cursor: pointer;
}