.messagemenu{
    border-top: 10px solid black;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.Senders{
    text-align: center;
    width: 200px;
    height: 100%;
    border-right: 10px solid black;
}

.sender{
    color:white;
    font-size: 30px;
    font-weight: bold;
    background-color: purple;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.3s;
}
.sender:hover{
    background-color: lightblue;
    transform: scale(1.1);
}
.productM{
    color:white;
    font-size: 25px;
    font-weight: bold;
    background-color: purple;
    border: 1px solid white;
    cursor: pointer;
}
.chatroom{
    width: 100%;
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    border: 10px solid white;
    background-color: lightblue;
    color:purple;
    font-size:80px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.chatContainM{
    width: 40%;
    position: relative;
}
.chatboxcontainM{
    width: 100%;
    position: relative;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.date{
    font-size: 10px;
    color: rgb(31, 126, 22);
}
.chatbox{
    width: 450px;
    height: 100px;
    resize: none;

}
.submitM{
    height: 109px;
    width: 100x;
}
@media only screen and (max-width: 800px) {

    .messagemenu{
        flex-direction: column;
    }
    .chatContainM{
        width: 100%;
    }
}