.account{
    margin-left:1000px;
    font-style: italic;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: white;

}
.user{
    color: pink;
}
.welcome{
    margin-bottom: 0px;
    margin-top: 1px;
    height:max-content;
    line-height: 26px;
    color:white;

}
.overlay{
    background-color: pink;
	height: 10%;
	width: 20%;
	position: absolute;
	top: 30px;
    right:0px;
	opacity: 0.7;
    color:white;
    text-align: center;
}

.menu{
    margin-left: 35px;
    margin-bottom: 0px;
    margin-top: 1px;
    text-align: center;
    height:max-content;
    line-height: 26px;
    cursor: pointer;
    color:white;

}
.menu:hover{
    background-color: lightblue;
}